* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.BG {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 45vw;
  height: 120vh;
}

.resBG {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 155vh;
}

.conBG {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 160vh;
}

.myPic2 {
  width: 37vw;
  height: 37vw;
  z-index: 1;
  position: absolute;
  top: 52vh;
  right: 4.5vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header nav {
  width: 100%;
}

header nav ul {
  padding: 1.5rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  font-size: 1.75rem;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.5rem;
}

main section.left {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
}

main section.left h1 {
  font-size: 4rem;
  color: #1e81b0;
}

main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

main section.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
  position: relative;
}

main section.right img {
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 35vh;
  right: 10vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main section.table {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 2rem;
}

main section.table table {
  border-collapse: collapse;
}

main section.table table tr {
  border-bottom: 1px solid #1e81b0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main section.table table tr td {
  padding: 1rem;
}

main section.table table tr:hover {
  background-color: rgba(30, 130, 176, 0.25);
}

main section.picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 580px;
          flex: 1 1 580px;
  position: relative;
  top: 50px;
  left: 110px;
}

main section.picture img {
  width: 30vw;
  border-radius: 10%;
}

main section.picture div.blueRect {
  width: 30vw;
  height: 88vh;
  background-color: #1e81b0;
  border-radius: 10%;
  position: absolute;
  top: 45px;
  left: 40px;
  z-index: -1;
}

main section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

main section.form form {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

main section.form form div {
  margin: 0.5rem;
}

main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

main section.form form div input,
main section.form form div textarea {
  background-color: rgba(30, 130, 176, 0.25);
  color: black;
  font-size: 1.25rem;
  padding: 0.25rem 0.25rem;
  border: none;
  width: 90%;
}

main section.form form div textarea {
  vertical-align: top;
}

main section.form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #1e82b0;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em 1.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
}

main div.line {
  background-color: #1e82b0;
  width: 5px;
}

main section.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

main section.contact div.content h2 {
  margin: 1rem 0rem;
}

.active {
  color: #1e81b0;
}

@media screen and (max-width: 1050px) {
  .BG {
    opacity: 0.7;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    padding: 0.5rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
  main section.right img {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 30vw;
    height: 30vw;
  }
  main section.picture div.blueRect {
    width: 30vw;
    height: 40vw;
  }
}

footer a {
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */